<div class="content">
  <div class="content-filters">
    <form [formGroup]="filterForm">
      <input
        type="text"
        placeholder="Введите название страны"
        formControlName="countryName"
        class="input"
      />
    </form>
  </div>

  <div class="content-cards">
    <app-country-card
      *ngFor="let country of countries | filter:filterForm.value.countryName; let i = index"
      [country]="country"
      class="content-cards__card"
    >
    </app-country-card>
  </div>
</div>