.content {
  &-search, &-cards {
    margin: 20px;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;

    &__card {
      width: 24%;
    }
  }
}

.input {
  width: 30%;
  margin-right: 20px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #a5a5a5;
}

